{{!-- anything in this file will appear on every single page the user navigates to --}}
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thingamabobs</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

  <div class="wrapper">
    <header>
        {{!-- TODO: DEFINE THE PAGE NAME --}}
        {{!-- <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Thingamabobs</h1> --}}
        {{!-- navigation bar --}}
        <nav class="navbar is-light is-fixed-top">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
            <img src="assets\Logo.png" alt="Thingamabobs">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
          </div>

            {{#if loggedIn}}
            {{!-- navigate to home page --}}
            <a href="/" class="navbar-item is-hoverable pt-1"><span class="material-icons">home</span></a>
            <a href="/catalog" class="navbar-item is-hoverable pt-1"><span class="material-icons">sell</span></a>
            <div class="navbar-end">
            <p class="pt-3">Hello, {{username}}</p> 
            <a href="/cart" class="navbar-item is-hoverable pt-1"><span class="material-icons">shopping_bag</span></a>
            <a href="/" id="logout" class="navbar-item is-hoverable pt-1"><span class="material-icons icon has-text-danger">logout</span></a>
            {{!-- <button id="logout" class=""><span class="material-icons">logout</span></button> --}}
            </div>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1"><span class="material-icons">home</span></a>
            <a href="/catalog" class="navbar-item is-hoverable pt-1"><span class="material-icons">sell</span></a>
            {{!-- <a href="/contact" class="navbar-item is-hoverable pt-1">Contact Us</a> --}}
            {{!-- <a href="/sign-up" class="navbar-item is-hoverable pt-1">SIGN UP</a> --}}
            <div class="navbar-end">

            <a href="/cart" class="navbar-item pt-1"><span class="material-icons">shopping_bag</span></a>
            <a href="/login" class="navbar-item is-hoverable pt-1"><span class="material-icons">account_circle</span></a>
            </div>
            
            
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
      <div class="row-is-full content has-text-centered">
    <p>
      <span class="icon">
     <i class="fas fa-heart"></i> 
     </span><strong>Thingamabobs</strong><span class="icon">
     <i class="fas fa-heart"></i> 
     </span><br> 20 Thingamabobs Ln. Thingamabobs,Tx 77777 <br>888-Hii-FWEN <br>support@thingamamobs.com <br> 
     <a href="https://github.com/Amritaraja">Amrita Raja</a> | <a href="https://github.com/dbradley555">Daniel Bradley</a> | <a href="https://github.com/il1566144">Isaiah Love</a> | <a href="https://github.com/romanjamess">Matt Nguyen</a> | <a href="https://github.com/romanjamess">Roman Gonzalez</a> | <a href="https://github.com/treecao">Tree Cao</a> <br> Copyright 2023<br>
     
    </p>
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>