{{!-- anything in this file will appear on every single page the user navigates to --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thingamabobs</title>
  {{!-- bulma CSS for now, we can use a different framework later if y'all don't like it --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        {{!-- TODO: DEFINE THE PAGE NAME --}}
        <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Thingamabobs</h1>
        {{!-- navigation bar --}}
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            {{!-- navigate to home page --}}
            {{!-- Nav bar - Home page (purchase/sell options) | Cataglog | Sell | Cart | Contact US --}}
            <a href="/" class="navbar-item is-hoverable pt-1">HOME</a>
            <a href="/catalog" class="navbar-item is-hoverable pt-1">CATALOG</a>
            <a href="/sell" class="navbar-item is-hoverable pt-1 mr-4">SELL</a>
            <a href="/cart" class="navbar-item is-hoverable pt-1 mr-4">CART {{!--possibly add shopping cart icon here--}}</a>
            <button id="logout" class="button is-danger">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">HOME</a>
            <a href="/catalog" class="navbar-item is-hoverable pt-1">CATALOG</a>
            <a href="/cart" class="navbar-item is-hoverable pt-1 mr-4">Cart</a>
            <a href="/contact" class="navbar-item is-hoverable pt-1">CONTACT US</a>
            <a href="/login" class="button is-primary">LOGIN</a>
            <a href="/sign-up" class="navbar-item is-hoverable pt-1">SIGN UP</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
    {{!-- team members: Amrita, Daniel, Isaiah, Matt, Roman, Tree --}}
      <div class="row-is-full content has-text-centered">
    <p>
      <strong>Site Creators</strong> [heart emoji here] <a href="https://github.com/Amritaraja">Amrita</a> | <a href="https://github.com/dbradley555">Daniel</a> | <a href="https://github.com/il1566144">Isaiah</a> | <a href="https://github.com/romanjamess">Matt</a> | <a href="https://github.com/romanjamess">Roman</a> | <a href="https://github.com/treecao">Tree</a>
    </p>
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>