<div class="small-container">
    <table>
        <tr>
            <th>products</th>
            <th>quantity</th>
            <th>subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="https://via.placeholder.com/150">
                    <div>
                        <p>THIS IS AN EXAMPLE PIC</p>
                        <small>$50.00</small>
                        <a href="">remove</a>
                    </div>
                </div>
            </td>
            <td>product name</td>
            <td><input type="number" value="1"></td>
            <td>$50.00</td>
        </tr>
    </table>
</div>