<h1 class="text-white"> Contact Us</h1>
<div>
    <ul>
        <li>Thingamabobs</li>
        <li>20 Thingamabobs Ln<br>
            Thingamabobs,Tx 77777 
        </li>
        <li>Phone: 888-Hii-FWEN</li>
        <li>Email: support@thingamamobs.com</li>
    </ul>
    {{!-- consider adding a contact form here --}}

    <a href="https://github.com/Amritaraja">Amrita</a> | <a href="https://github.com/dbradley555">Daniel</a> | <a href="https://github.com/il1566144">Isaiah</a> | <a href="https://github.com/romanjamess">Matt</a> | <a href="https://github.com/romanjamess">Roman</a> | <a href="https://github.com/treecao">Tree</a>
</div>
