<h1 class="text-white"> Contact Us</h1>
<div>
    <ul>
        <li>Thingamabobs</li>
        <li>20 Thingamabobs Ln<br>
            Thingamabobs,Tx 77777 
        </li>
        <li>Phone: 888-Hii-FWEN</li>
        <li>Email: support@thingamamobs.com</li>
    </ul>
    {{!-- consider adding a contact form here --}}
</div>
