{{!-- adding something to get us started --}}
<h1 class="text-white"> Welcome {{users.first_name}}</h1>
{{!-- Welcome & automatically display recommended items  

 --}}

 {{!-- recommended items --}}

 {{!-- See more (selecting see more will navigate the user to the full catalog of available items =) --}}