{{!-- Landing Page. Also this handlebar is the template for when the user selects HOME--}}
<h1 class="text-white"> Welcome {{users.first_name}}</h1>
{{!-- Welcome & automatically display recommended items  

 --}}

 {{!-- recommended items (display 5-10 items) --}}
 <h2>Look at this stuff... isn't it neat ;) </h2>
 {{!-- See more (selecting see more will navigate the user to the full catalog of available items =) --}}
 <h2> Your collection's not complete. Here are more Thingamabobs for you</h2>