<section class="column is-one-third container">
<h2 class="title has-text-centered">Sign In</h2>
<h1 class="has-text-centered">To view your Thingamabobs</h1><hr>
<form class="login-form">
  {{!-- Email Field --}}
  <div class="field">
    <label for="email-login">Email:</label>
    <p class="control has-icons-left has-icons-right">
     <input class="input is-rounded" type="email" id="email-login">
     <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
     </span>
     </span>
    </p>
  {{!-- Password Field --}}
  <div class="field">
     <label for="password-login">Password:</label>
    <p class="control has-icons-left">
    <input class="input is-rounded" type="password" id="password-login">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
    </p>
  </div>
    <button type="submit" class="button is-primary is-fullwidth is-rounded">Sign In</button>
    <p class="pb-1 pt-4 has-text-centered">Don't have an account, Create new account:</p>
    <a href="/sign-up"><button type="button" class="button is-danger is-fullwidth is-rounded">Sign Up</button></a>
  </div>
</form>
</section>

<!-- javascript file-->
<script src="/javascript/login.js"></script>