<div class="column">
<h2 class="title pb-4">Create New Account:</h2><hr>
<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup"/>
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup"/>
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup"/>
  </div>
  <div>
    <button type="submit" class="button is-primary">Sign Up</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>